# MongoDB connection string
MONGO_URI=mongodb+srv://shivanandhatti84_db_user:shiva.444@internship.rhrqtlf.mongodb.net/?appName=internship

# Port for the backend server
PORT=5000

# Use production only when deploying
NODE_ENV=development
